<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/static/stylesheets/main.css">
    <link rel="stylesheet" href="/static/stylesheets/mobile.css">
    <title>The Cul-De-Sac</title>
</head>
<body>
    
    <div class="main-container">
        <%- include('./nav'); -%>
        <div class="inner-container">
            <div class="postsContainer">
                <h2>RECENT POSTS</h2>
                <span class="scrollText">scroll for more</span>
                <div class="recentPosts">
                    <% blogEntry.forEach(details => { %>
                        <div class="entry">
                            <h3 class="title"><%= details.title %><span> by </span><form class="homeUserForm" action="/" method="POST"><button type="submit" name="username" value="<%= details.name %>" class="userLink"><%= details.name %></button></form><span> on <%= details.date %></span></h3>
                            <p class="content"><%= details.content %></p>
                        </div>
                    <% }) %>
                </div>
            </div>
            
            <div class="otherContainer">
                <h2>OTHER STUFF</h2>
                <span class="scrollText">scroll for more</span>
                <div class="stuffContainer">
                    <a href="https://domzalex.github.io/skeleton-gauntlet/" target="_blank">The Skeleton Gauntlet</a>
                    <p class="otherText">A silly turn-based game about fighting skeletons.</p>
                    <a href="/chatRoom">Chat Room</a>
                    <p class="otherText">New!</p>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html> 