<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/static/stylesheets/main.css">
    <link rel="stylesheet" href="/static/stylesheets/mobile.css">
    <title>Profile: <%= name %></title>
</head>
<body>
    <div class="main-container">
        <%- include('./nav'); -%>
        <div class="post-container">
            <% blogEntry.forEach(details => { %>
                <% if (details.name == name) { %>
                <ul class="blogEntries">
                    <li class="entry">
                        <h3 class="title"><%= details.title %> -<span> written by </span><%= details.name %> - <span><%= details.date %></span></h3>
                        <p class="body"><%= details.content %></p>
                    </li>
                </ul>
                <% }; %>
            <% }) %>
        </div>
    </div>
    
</body>
</html> 